<section class="section section--column">
  <h3 class="title-form">FORMULARIO</h3>
  <form action="" class="form">
    <!-- <div class="form__container-campo"> -->
    <label for="" class="form__label">Nombre</label>
    <input type="text" class="form__input" id="nombre">
    <!-- </div> -->
    <!-- <div class="form__container-campo"> -->
    <label for="" class="form__label">Descripcion</label>
    <input type="text" class="form__input" id="descripcion">
    <!-- </div> -->
    <button class="boton-form">ENVIAR</button>
  </form>
</section>