@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(120deg, #000000, #626262, #ffffff);
}

#app {
  height: 100vh;
  /* background-color: rgb(0, 0, 0); */
}

.main {
  height: 100%;
}

.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  margin: 20px 30px;
  height: 60px;
  background-color: rgba(29, 29, 29, 0.4);
  /* border-bottom: 1px solid #646464; */
  border-radius: 10px;

  backdrop-filter: blur(8px); /* Aquí está el desenfoque */
  -webkit-backdrop-filter: blur(8px); /* Compatibilidad Safari */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Le da profundidad */
  position: relative; /* Necesario para superposición */
  z-index: 1;
}

.logo {
  margin-left: 30px;
  height: 40px;
  cursor: pointer;
}

.nav {
  height: 100%;
}

.lista {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 100%;
}

.lista__item {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  align-items: center;
}

.lista__link {
  text-decoration: none;
  color: #fff;
  height: 100%;
  width: calc(500px / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 12px;
  transition: 0.4s;
  /* padding: 0 30px; */
}

.lista__link:hover {
  font-weight: 900; /* Hace el texto más grueso al pasar el cursor */

  background: linear-gradient(
    90deg,
    #835bff,
    #fcd34d,
    #ff6d6d,
    #ff9800
  ); /* Degradado multicolor de Vite */
  background-size: 300%; /* Aumenta el tamaño del fondo para que se note más al moverse */
  background-position: center; /* Centra el fondo degradado */

  -webkit-background-clip: text; /* Solo muestra el fondo dentro del texto (para WebKit/Safari) */
  -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente (para ver el fondo detrás) */

  background-clip: text; /* Versión estándar del background-clip */
  color: transparent; /* Oculta el color de texto normal, mostrando solo el fondo degradado */

  text-shadow: 0 2px 15px rgba(255, 255, 255, 0.2); /* Sombra suave para darle más brillo o profundidad */
}

.contenedor-logins {
  margin-right: 20px;
}

.logo-login {
  font-size: 30px;
  padding: 5px;
  /* color: #fff; */
  margin-right: 15px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.logo-login:hover {
  background-color: #474747;
  border: 1px solid #333333;
  box-shadow: 0 0 10px 6px #c084fc;
  color: #fcd34d;
}

.section {
  display: flex;
  gap: 30px;
  padding-top: 20px;
  position: relative;
}

.card {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0px #ffffff, 0 0 100px 0 #fff0d0 inset,
    0 0 20px 0 #000000 inset;
}

.title {
  text-align: center;
  /* margin: 10px 0; */
  font-size: 20px;
}

.body {
  text-align: center;
}

.boton-nuevo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background-color: rgb(132, 50, 205);
  color: #fff;
  transition: 0.2s;
  border-radius: 12px;
  box-shadow: 0 0 5px 1px #747474;
}

.boton-nuevo:hover {
  background-color: rgb(154, 107, 255);
  /* box-shadow: 0 0 60px 0px #6366f1 inset, */
  /* 0 0 20px 5px #fcd34d; */
}

.contenedorBtns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.boton-card {
  width: 70px;
  height: 35px;
  font-weight: 500;
  background-color: rgb(255, 76, 76);
  border: 1px solid rgb(255, 76, 76);
  font-size: 16px;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 0 5px 0px #7d7d7d;
  color: #fff;
}

.btnEdit {
  background-color: #fff;
  color: rgb(255, 76, 76);
}

.form {
  margin: 0 auto;
  width: 500px;
  height: 200px;
  /* background-color: #3c3c3c; */
  border-radius: 12px;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0px #ffffff, 0 0 100px 0 #fff0d0 inset,
    0 0 20px 0 #000000 inset;
}

.form__container-campo {
  display: flex;
  justify-content: space-evenly;
}

.section--column {
  flex-direction: column;
}

.form__label {
  font-size: 18px;
  color: #343434;
  font-weight: bold;
  align-self: center;
  justify-self: center;
}

.form__input {
  background-color: #666666;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  height: 30px;
  width: 90%;
  padding: 0 10px;
  align-self: center;
  justify-self: center;
  border-radius: 5px;
}

.title-form {
  text-align: center;
  color: #fff;
  font-size: 40px;
}

.boton-form {
  margin-top: 10px;
  grid-row: 3/4;
  grid-column: 1/3;
  margin: 0 auto;
  width: 100px;
  height: 40px;
  border-radius: 12px;
  align-self: center;
  justify-self: center;
  border: none;
  background-color: #689ffe;
  box-shadow: 0 0 40px 0px #bd34fe inset;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
